# GNU Configure output
autom4te.cache
configure
Makefile
src/Makefile
doc/Makefile
tests/test.perl

config.log
config.status
# Distribution files
dists
cfunctions-*.tar.gz
cfunctions-*.tar.bz2
cfunctions-0.*
# Things are in here which I haven't decided what to do with yet.
junk/*
# This is the output of make in src/
cfunctions
