# Programs output by the compiler

cfunctions
test-file

# Made by flex

cfunctions.[ch]

# Copied from another directory

c-tap-test.h

# Test files which don't need to be version-controlled.

research/*
